*{
    margin: 0%;
    padding: 0%;

}
body{
    background-image: url("wallpaper.jpg");
}
.img{
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.hyn{   
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("wallpaper.jpg");
}
.inputbox{
    height: 100px;
    width: 200px;
    background-color: azure;
    justify-content: center;
    font-size: large;
}
.registerform{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("wallpaper.jpg");
}
.main{
    display: block;
    justify-content: center;
    align-items: center;
}